html {
    font-size: 14px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 16px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}


.crossout {
    background-color: #67b168;
}

div.square-wrapper {
    max-width: 60vh;
}

div.square {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    width: 25%;
    padding-bottom: 25%;
    margin: 0%;
    float: left;
}

div.square-content {
    text-align: center;
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 10% 5%;
}

div.square-table {
    display: table;
    height: 100%;
    width: 100%;
}

div.square-table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}