<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>¯\_(ツ)_/¯</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <!-- Favicon can also be served via a node middleware -->
    <link rel="icon" href="/images/favicon.png">

    <!-- Bootstrap and jQuery includes -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/common.js"></script>

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" class="img-responsive" src="/images/brand.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="nav-games"><a href="/game"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Aktive Spiele</a></li>
                    <li id="nav-new"><a href="/game/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neues Spiel erstellen</a></li>
                    <li id="nav-delete"><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Meine Spielstände löschen</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        {{{body}}}
    </div>
</body>
</html>