<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>¯\_(ツ)_/¯</title>

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <!-- Favicon can also be served via a node middleware -->
    <link rel="icon" href="/images/favicon.png">

    <!-- Bootstrap and jQuery includes -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>