<h3>Authentication</h3>
<p>
    Jetzt mit twitter einloggen
</p>

<p>
    <a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
</p>

<p>
    isAuthenticated: {{ isAuthenticated }}
</p>

<pre>
    {{ user }}
</pre>