<h3>Error 404</h3>

<p>
    Die gewünschte Seite konnte nicht gefunden werden. Es kann helfen, deine gespeicherten Spielstände zurückzusetzen.
</p>

{{#if error}}
    <pre>
        {{ error }}
    </pre>
{{/if}}
