<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/game.js"></script>

<!-- Page -->
<h1>Hallo, {{ player.name }}!</h1>
<p>
    Hier ist dein Spiel
</p>

<div class="row">
    <table id="game-table">
        <tr>
            <td id="1">&nbsp;</td>
            <td id="2">&nbsp;</td>
            <td id="3">&nbsp;</td>
            <td id="4">&nbsp;</td>
        </tr>
        <tr>
            <td id="5">&nbsp;</td>
            <td id="6">&nbsp;</td>
            <td id="7">&nbsp;</td>
            <td id="8">&nbsp;</td>
        </tr>
        <tr>
            <td id="9">&nbsp;</td>
            <td id="10">&nbsp;</td>
            <td id="11">&nbsp;</td>
            <td id="12">&nbsp;</td>
        </tr>
        <tr>
            <td id="13">&nbsp;</td>
            <td id="14">&nbsp;</td>
            <td id="15">&nbsp;</td>
            <td id="16">&nbsp;</td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="square-wrapper">

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>
        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        ... CONTENT HERE ...
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <br>

    <h3>Aktive Spieler</h3>
    <ul id="player-list">
    </ul>

    <br><br><br>
    <hr>
    <pre>{{ this.player }}</pre>
    <pre>{{ this.game }}</pre>
</div>