<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/game.js"></script>

<!-- Page -->
<h3>Hallo, {{ player.name }}!</h3>

<div class="row">
    <div class="square-wrapper">

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="square-table">
                    <div class="square-table-cell">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <br>
    <h3>Aktive Spieler</h3>
    <ul id="player-list"></ul>

    <h3>Inaktive Spieler</h3>
    <ul id="inactive-player-list"></ul>
</div>