<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="jumbotron">
            <h1>Willkommen bei <b>BullshitBingo™!</b></h1>
            <p>
                Hast du oft mit Serial Entrepreneurs zu tun, die mit einer völlig disruptiven Idee zur Gamification des
                Internet of things beitragen wollen? Die Art von Menschen, die durch virales Marketing das
                long-tail-Ökosystem
                mit ihrem cloud-basierten Lean startup erobern wollen? Dann bist du hier genau richtig!
            </p>

            <p>
                Mit einer abwechselungsreichen Partie <b>BullshitBingo™!</b> gehen die langweiligen Meetings ganz
                schnell
                vorbei! Du kannst einfach einem bereits laufenden Spiel beitreten, oder ein Spiel mit deinen ganz
                eigenen
                Buzzwords erstellen.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="/game" role="button">Aktive Spiele anzeigen</a>
                <br><br>
                <a class="btn btn-primary btn-lg" href="/game/create" role="button">Neues Spiel erstellen</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h3>Noch nicht überzeugt?</h3>
        <p>
            Dann schau dir einfach an, wie viel spaß diese hochseriösen Geschäftsleute bei einer
            Partie Bullshit Bingo haben!
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-md-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Dnkow4y1cyw" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>


<div class="row">
    <<div class="col-sm-10 col-sm-offset-1">
        <hr>
        <h3>Funktionen für Profis</h3>
        <ul>
            <li>Testspiel erzeugen: <a href="/users/create">klick</a></li>
            <li>Nodejs Prozess crashen: <a href="/users/crash">klick</a></li>
        </ul>
    </div>
</div>



