<h1>Welcome to this hackathon page!</h1>

<p>
    This project includes an express application running on node, a mongodb database and a web interface for the db.
    The webinterface is available on <b>port 8081</b>.
</p>

<p>
    Samble database code can be found <a href="/users">here</a>.
</p>

<h1 style="color: red;">DAS IST KEINE ÜBUNG!!!</h1>
