<h1>Welcome to this hackathon page!</h1>

<p>
    This project includes an express application running on node, a mongodb database and a web interface for the db.
    The webinterface is available on <b>port 8081</b>.
</p>

<p>
    Alle Spiele anzeigen: <a href="/game">here</a>.
</p>

<p>
    Testspiel erzeugen: <a href="/users/create">klick</a>
</p>

<p>
    Nodejs Prozess crashen: <a href="/users/crash">klick</a>
</p>

<h1 style="color: red;">DAS IST KEINE ÜBUNG!!!</h1>
