<div class="row">

    <div class="col-sm-5 col-sm-offset-1">

        <h3>Neues Spiel erstellen</h3>

        {{#if has_error}}
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> {{ error }}
                </div>
            </div>
        {{/if}}


        <form method="POST">
            <div class="form-group">
                <label for="name-input">Spielname</label>
                <input type="text" name="name" class="form-control" id="name-input" placeholder="Kickoff Meeting">
            </div>
            <div class="form-group">
                <label for="words-input">Wörter</label>
                <textarea class="form-control" name="words" if="words-input" rows="20"
                          placeholder="Bullshit goes here"
                          aria-describedby="words_help"></textarea>
                <small id="words_help"
                       class="form-text text-muted">
                    Einzelne Wörter werden durch Zeilenumbrüchte getrennt. Bitte mindestens 16 Wörter eingeben.
                </small>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</div>
<br>
<hr>