<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h3>Hier geht's zum Spiel <b>{{ game }}</b></h3>

        <p>
            Damit andere Spieler deinen Punktestand sehen können, brauche ich deinen Namen.
        </p>
        <br>
    </div>
</div>

{{#if has_error}}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> Es gab einen Fehler mit deinem Namen. Versuch es einfach nochmal.
            </div>
        </div>
    </div>
{{/if}}

<div class="row">
    <div class="col-sm-3 col-sm-offset-1">

        <form method="POST">
            <form>
                <div class="form-group">
                    <label for="form_player_name">Spielername</label>
                    <input type="text" name="player_name" class="form-control"
                           id="form_player_name"
                           aria-describedby="username_help"
                           placeholder="Spielername">
                    <small id="username_help"
                           class="form-text text-muted">
                        Dein Spielername muss mindestens zwei Zeichen lang sein.
                    </small>
                </div>

                <button type="submit" class="btn btn-default">Los geht's!</button>
            </form>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <hr>
        <b>Alternativ:</b>
        <br>
        <p>
            Wenn dein Chef mitspielt, solltest du dir vielleicht besser ein Pseudonym ausdenken. Unkreative Menschen
            können einfach auf diesen Button klicken und einen zufälligen Spielernamen generieren lassen.
        </p>
        <p>
            <button type="button" id="generate-name" class="btn btn-default">Namen generieren</button>
        </p>
    </div>
</div>

