<div class="row">
    <h3>Hier geht's zum Spiel <b>{{ game }}</b></h3>

    <p>
        Damit andere Spieler deinen Punktestand sehen können, brauche ich deinen Namen. Wenn dein Chef mitspielt,
        solltest du dir vielleicht besser ein Pseudonym ausdenken. Wenn du noch etwas Inspiration braucht, hilft
        <a hre="http://montanaflynn.me/lab/startup-name-generator/">diese Seite</a> gerne weiter.
    </p>

    <br>
</div>

{{#if has_error}}
    <div class="row">
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Es gab einen Fehler mit deinem Namen. Versuch es einfach nochmal.
        </div>
    </div>
{{/if}}

<div class="row">
    <div class="col-sm-3">

        <form method="POST">
            <form>
                <div class="form-group">
                    <label for="form_player_name">Spielername</label>
                    <input type="text" name="player_name" class="form-control"
                           id="form_player_name"
                           aria-describedby="username_help"
                           placeholder="Spielername">
                    <small id="username_help"
                           class="form-text text-muted">
                           Dein Spielername muss mindestens zwei Zeichen lang sein.
                    </small>
                </div>

                <button type="submit" class="btn btn-default">Los geht's!</button>
            </form>
        </form>
    </div>
</div>

